:root {
    --primary-color: #ffaa00;
  }
  
  .card {
    display: grid;
    grid-template-columns: column;
    justify-content: space-between;
    max-width: 150px;
    height: 100%;
    border: 2px solid var(--primary-color);
    padding: 0.3rem 0.6rem;
    margin: 35px 15px;
    position: relative;
    border-radius: 5px;
  }
  
  .card__title {
    font-weight: 600;
    text-align: left;
    color: cornsilk;
    text-shadow: 3px 2px 4px #c0a9126c;
    background-color: #111111;
    display: flex;
    position: relative;
  }
  
  .card__title ,.card__price {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card__price{
    margin-top: 0.2rem;

  }
  
  .image__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px #ffaa006b;
  }
  
  .image__container img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 120px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    
  }
  
  .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card__price {
    text-align: center;
    display: inline-block;
  }
  
  .card__badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(227, 112, 30);
    border-radius: 50%;
    transform: translate(20px, -20px) scale(1);
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(227, 112, 30);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    animation: scaleanimation 1s ease infinite;
    opacity: 0.8;
  }
  
  @keyframes scaleanimation {
    to {
      transform: translate(20px, -20px) scale(1.05);
      opacity: 1;
    }
  }
  
  .card__badge--hidden {
    display: none;
  }
  